<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id} (id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter username:</label>
    <input type="text" name="name" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{name}"></div>
    <br/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" name="lastname" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{lastName}"></div>
    <br/>
    <br/>
    <p>Enter Roles:</p>
    <input type="checkbox" name="role_authorities" th:each="role :${allRoles}" th:text="${role.role}"
           th:value="${role.role}" th:checked="${user.roles.contains(role)}"
    />
    <br/>
    <br/>
    <input type="submit" value="Update"/>
</form>
<form th:action="@{/logout}" th:method="POST">
    <button type="submit">LOGOUT</button>
</form>
<!--<a href="/spring_security_war_exploded/logout">logout</a>-->

</body>
</html>