<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/createUser}" th:object="${user}">
    <label for="username">Enter Username:</label>
    <input type="text" name="name" th:field="*{username}" id="username"/>
    <div  style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <br/>
    <br/>
    <label for="password">Enter Password:</label>
    <input type="text" name="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <br/>
    <p>Enter Roles:</p>
    <input type="checkbox" name="role_authorities" th:each="role : ${allRoles}" th:text="${role.role}" th:value="${role.role}"/>

    <input type="submit" value="Create"/>

</form>
<form th:action="@{/logout}" th:method="POST">
    <button type="submit">LOGOUT</button>
</form>

</body>
</html>