<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index of pages</title>
    <style>
        table {
            border-width: medium;
            width: auto; /* Ширина таблицы */
            background: white; /* Цвет фона таблицы */
            color: black; /* Цвет текста */
            border-spacing: 1px; /* Расстояние между ячейками */
        }
        td, th {
            background: gray; /* Цвет фона ячеек */
            padding: 5px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>

<table {border="1"}>

    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>PASSWORD</th>
    </tr>
        <tr>
            <td th:text="${userPage.getId()}"/>
            <td th:text="${userPage.getUsername()}"/>
            <td th:text="${userPage.getPassword()}"/>

        </tr>
    </div>
</table>
<br/>
<hr/>
<!--<form th:action="@{/new}">-->
<!--    <button type="submit">Create new User</button>-->
    <!--    <p><strong>strong text</strong></p>-->
    <!--    <input name="name_of_field" value="name"/>-->
</form>
</body>
</html>